<%- include('main-comp/header'); -%>
  <!-- Navigation bar -->
  <%- include('navigations/nav-bar'); -%>
<div class="mt-20">
  <!-- About Us -->
  <%- include('description/about-us'); -%>
</div>
<div class="mt-10">
  <%- include('description/terms-and-conditions'); -%>
</div>
    <!-- News letter -->
    <%- include('contact-options/newsletter'); -%>
    <!-- contact -->
      <%- include('contact-options/contact'); -%>

          <%- include('main-comp/footer'); -%>