<%- include('../../../main-comp/header'); -%>
  <!-- Navigation bar -->
  <%- include('../../../navigations/nav-bar'); -%>
    <div class="h-44 country-name-container">
      <div class="bg-slate-800/30 backdrop-blur-lg h-full w-full flex justify-center items-center">
        <h1 class="text-white font-serif text-6xl ">University of Kragujevac</h1>
      </div>
    </div>
  <!-- Floating social media links -->
  <%- include('../../../navigations/sticky-social-bar'); -%>
    <div class="bg-slate-300 py-10 ">
      <!-- Table of content -->
    <!-- Table of content -->
    <div class="flex flex-col justify-center items-center pt-5 pb-10 bg-white/80 mx-10 backdrop-blur-lg mb-5 rounded-lg shadow-md" >
      <div class="pb-4">
          <h1 class="font-bold font-serif text-4xl text-slate-600">Table of content</h1>
      </div> 
      <div >
          <ul class="flex flex-wrap " >
              <li class="pt-2 px-8 text-lg font-bold  font-serif border-r-2"><a href="">Introduction</a></li>
              <li class="pt-2 px-8 text-lg font-bold  font-serif border-r-2"><a href="">Highlights</a></li>
              <li class="pt-2 px-8 text-lg font-bold  font-serif border-r-2"><a href="">Why choose UNOFOM</a></li>
              <li class="pt-2 px-8 text-lg font-bold  font-serif border-r-2"><a href="">Medicine program at KSU</a></li>
              <li class="pt-2 px-8 text-lg font-bold  font-serif border-r-2"><a href="">Affiliations and International Cooperation</a></li>
              <li class="pt-2 px-8 text-lg font-bold  font-serif "><a href="">Gallery</a></li>
            </ul>
      </div>
  </div>
  <div class="bg-white mx-10 py-4 rounded-md shadow-md">
    <div class="mt-10 ml-10 mr-10 ">
      <h1 class="font-serif antialiased font-bold text-4xl mb-4">INTRODUCTION</h1>
      <p class="text-justify text-lg">The University of Kragujevac, located in Serbia, is renowned for its prestigious
        Faculty of Medical Sciences.
        With a rich history and commitment to excellence in education, research, and healthcare, this institution
        plays a vital role in shaping the future of medical professionals. In this article, we will look into the
        various aspects of the University of Kragujevac's Faculty of Medical Sciences, including its programs,
        faculty, facilities, and contributions to the medical field.
        <br>Established in 1976, the University of Kragujevac has a rich history that spans over four decades. It
        originated from the merger of several faculties, including the Faculty of Medicine. Since its inception, the
        university has been committed to fostering academic excellence and nurturing highly skilled professionals.
        The Faculty of Medical Sciences is one of the esteemed faculties within the University of Kragujevac. The
        faculty's mission is to provide students with a strong foundation in medical knowledge, clinical skills, and
        research expertise.
      </p>
    </div>
  </div>
    <div class="bg-white mx-10 py-4 rounded-md shadow-md mt-10">
      <div class="mt-10 mx-10 ">
        <h1 class="font-serif antialiased font-bold text-4xl mb-4">University of Kragujevac: Key Highlights</h1>
        <p class="text-justify text-lg">With its comprehensive programs, renowned faculty, state-of-the-art facilities,
          and commitment to community
          welfare, the faculty prepares students to become competent and compassionate medical professionals.</p>
        <ul class="list-image-[url('/public/media-source/svg-pointers/arrow.svg')] list-inside p-4">
          <li class="py-2">The University of Kragujevac (UK) is a public university located in Kragujevac, Serbia.</li>
          <li class="py-2">Founded in 1838, it is the oldest university in Serbia.</li>
          <li class="py-2">Oldest and largest university in Serbia, with over 20,000 students enrolled in over 100
            undergraduate
            and graduate programs.</li>
          <li class="py-2">Offers a variety of specializations in medicine, so you can choose the area that interests
            you most.
          </li>
          <li class="py-2">Ranked among the top 500 universities in the world by the Times Higher Education World
            University
            Rankings and the QS World University Rankings</li>
          <li class="py-2">The climate of Kragujevac is mild and humid</li>
          <li class="py-2">Summers are hot and sunny, while winters are cold and rainy.</li>
        </ul>
      </div>
    </div>
   <div class="bg-white mx-10 py-4 rounded-md shadow-md mt-10">
    <div class="mt-10 mx-10">
      <h1 class="font-serif antialiased font-bold text-4xl mb-4">Why choose University of Kragujevac for Medicine
        Studies?</h1>
      <p class="text-justify text-lg">The University of Kragujevac's Faculty of Medical Sciences stands as a beacon of
        excellence in medical
        education, research, and healthcare services.</p>
      <ul class="list-image-[url('/public/media-source/svg-pointers/arrow.svg')] list-inside p-4">
        <li class="py-2"><span class="font-bold">English-taught programs:</span> The university also offers a number
          of English-taught programs,
          making it an attractive option for international students.</li>
        <li class="py-2"> <span class="font-bold">Bologna Process:</span> The UK is a member of the Bologna Process,
          which means that the medicine
          program is aligned with international standards. </li>
        <li class="py-2"> <span class="font-bold">Rankings:</span> The university has ranked among the top 500
          universities in the world by the
          Times Higher Education World University Rankings and the QS World University Rankings.</li>
        <li class="py-2"><span class="font-bold">Internationalization:</span> The UK is committed to
          internationalization and has a number of
          partnerships with universities around the world.</li>
        <li class="py-2"><span class="font-bold">Research projects:</span> The UK has a strong research tradition in
          medicine, and students have
          the opportunity to participate in research projects.</li>
        <li class="py-2"><span class="font-bold">Facilities: </span>The UK has a number of modern facilities,
          including libraries, laboratories,
          sports, career counseling, housing, and financial aid, as well as research institutes and centers.</li>
      </ul>
      <p class="text-justify text-lg">Overall, the University of Kragujevac is a well-respected university with a rich
        history, strong academics,
        and a commitment to internationalization. It is a great choice for students who are looking for a
        high-quality education in Serbia.
      </p>
    </div>
   </div>
   <div class="bg-white mx-10 py-4 rounded-md shadow-md mt-10">
    <div class="mt-10 mx-10">
      <h1 class="font-serif antialiased font-bold text-4xl mb-4">Medicine program at KSU</h1>
      <p class="text-justify text-lg">The Faculty of Medical Sciences in Kragujevac offers study program of Integrated
        Academic Studies of Medicine
        in English. The Faculty of Medical Sciences offers a diverse range of academic programs to cater to the
        needs and interests of aspiring medical professionals. These programs include:</p>
      <ol style="list-style: decimal;list-style-position: inside;">
        <li class="text-lg font-serif font-bold">Bachelor of Medicine </li>
        <li class="text-lg font-serif font-bold">Bachelor of Dental Medicine
        </li>
        <li class="text-lg font-serif font-bold">Bachelor of Pharmacy
        </li>
        <li class="text-lg font-serif font-bold">Bachelor of Nursing
        </li>
        <li class="text-lg font-serif font-bold">Master of Science in Biomedicine
        </li>
        <li class="text-lg font-serif font-bold">Master of Science in Pharmacy
        </li>
      </ol>
      <p class="text-justify text-lg my-4">The faculty provides a well-rounded curriculum that combines theoretical
        knowledge with practical training;
        ensuring graduates are equipped with the necessary skills and competencies to excel in their respective
        fields.</p>
    </div>
   </div>
  <div class="bg-white mx-10 py-4 rounded-md shadow-md mt-10"> <div class="mt-10 mx-10">
    <h1 class="font-serif antialiased font-bold text-4xl mb-4">Affiliations and International Cooperation
    </h1>
    <p class="text-justify text-lg">The University of Kragujevac (UK) is a member of a number of international
      organizations and has partnerships
      with universities around the world. Some of the UK's most important affiliations and partnerships are: </p>
    <ul>
      <li>European University Association (EUA),
      </li>
      <li>Balkan Rector's Conference (BRC),
      </li>
      <li>UNESCO's network of universities
      </li>
      <li>TEMPUS program,
      </li>
      <li>ERASMUS+ program</li>
    </ul>
    <p class="text-justify text-lg">In addition to affiliations and partnerships, the university also has bilateral
      agreements with global
      universities, enabling students and staff to participate in exchange programs.
    </p>
  </div></div>
     <div  class="bg-white mx-10 py-4 rounded-md shadow-md mt-10">
      <div class="mt-10 mx-10" id="college-description-table">
        <table>
          <tr>
            <th>University type</th>
            <th>University Grade</th>
            <th>Estd. Date</th>
            <th>ECFMG Status</th>
            <th>Program type</th>
            <th>Available Intake</th>
            <th>Medium of Course</th>
            <th>World Rank</th>
            <th>Total Course Fee</th>
            <th>Course Duration</th>
            <th>Degree Awarded</th>
          </tr>
          <tr>
            <td>public</td>
            <td>N/A</td>
            <td>1838</td>
            <td>Approved</td>
            <td>Paid</td>
            <td>N/A</td>
            <td>English</td>
            <td>1401</td>
            <td>N/A</td>
            <td>5.8 Years of MBBS, Incl. Internship</td>
            <td>N/A</td>
          </tr>
        </table>
      </div>

     </div>
  <!-- <div class="bg-white mx-10 py-4 rounded-md shadow-md mt-10">
   gallery
   <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Perfect Heading for Gallery</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Lorem, ipsum dolor sit amet consectetur adipisicing
          elit. Repudiandae reiciendis, aliquam laudantium officiis minus quas eaque voluptate autem reprehenderit
          dolore velit? Molestiae culpa veniam, nemo quis minus necessitatibus delectus cum.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"
              src="https://picsum.photos/200/300">
            <div
              class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Mr. Hancock</h1>
              <p class="leading-relaxed">sepudiandae nobis alias. Atque suscipit dolorem nisi, id deleniti ipsa
                molestias natus omnis et!</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"
              src="https://picsum.photos/200/300">
            <div
              class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing
                tousled waistcoat.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"
              src="https://picsum.photos/200/300">
            <div
              class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The 400 Blows</h1>
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing
                tousled waistcoat.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"
              src="https://picsum.photos/200/300">
            <div
              class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Neptune</h1>
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing
                tousled waistcoat.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"
              src="https://picsum.photos/200/300">
            <div
              class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Holden Caulfield</h1>
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing
                tousled waistcoat.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"
              src="https://picsum.photos/200/300">
            <div
              class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Alper Kamu</h1>
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing
                tousled waistcoat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div> -->
    </div>

  <!--End of Tawk.to Script-->
  <!--End of Tawk.to Script-->  
    <%- include('../../../navigations/bottom-bar'); -%>
    <%- include('../../../main-comp/footer'); -%>